<div class="container d-flex align-items-center justify-content-center mt-5">
    <div class="text-center bg-warning-subtle p-4 rounded w-50">
        <h1 class="display-6 my-5 text-warning-emphasis">En esta aplicación web podrás consultar los héroes del juego Overwatch.</h1>
        <p class="fs-4 my-5 text-black">Ninguna de las imágenes de esta página me pertenece, todas son propiedad de <span
                class="fw-bold">Blizzard Entertainment</span>.</p>

        <a href="/busqueda" class="btn btn-outline-warning fs-4 w-75 mb-3 fw-bolder">IR A BUSCAR HÉROES</a>
        <a href="/acercade" class="btn btn-outline-warning fs-4 w-75 mb-5 fw-bolder">ACERCA DE</a>

    </div>
</div>