<div class="container d-flex justify-content-center my-5">
    <div class="text-center bg-warning-subtle p-4 rounded w-75">
        <h1 class="display-6 my-4 text-warning-emphasis">Bienvenido a la aplicación de <span class="fw-bolder text-decoration-underline">Héroes de Overwatch</span></h1>
        <p class="fs-4 my-4 text-black">Consulta información sobre los héroes de Overwatch de manera rápida y sencilla.</p>

        <a href="/busqueda" class="btn btn-outline-warning fs-4 w-75 my-4 fw-bolder">EMPEZAR A BUSCAR HÉROES</a>
        <a href="/acercade" class="btn btn-outline-warning fs-4 w-75 mb-4 fw-bolder">IR A ACERCA DE</a>

    </div>
</div>