<div class="container d-flex justify-content-center my-5">
    <div class="text-center bg-warning-subtle p-3 rounded w-75">
        <h1 class="display-6 my-3 text-warning-emphasis">Acerca de esta aplicación</h1>
        <p class="fs-4 my-4 text-black">Esta aplicación te permite consultar información detallada sobre los héroes del
            juego <span class="fw-bolder">Overwatch</span>. Puedes buscar <span class="text-decoration-underline">héroes
                específicos</span> y ver datos sobre ellos,
            como su rol, habilidades y más.
        </p>

        <h5 class="fs-4 mt-4 text-warning-emphasis">¿Cómo funciona?</h5>
        <ul class="list-unstyled text-warning-emphasis">
            <li>Pincha "Búsqueda" en la barra de navegación, o "Ir a buscar héroes" aquí más abajo.</li>
            <li>Escribe el nombre del héroe en la barra de búsqueda.</li>
            <li>La aplicación te mostrará los datos más relevantes sobre ese héroe de <span
                    class="fw-bolder">Overwatch</span>.</li>
        </ul>

        <h5 class="fs-4 mt-4 text-black"><span class="fw-bolder">Importante:</span></h5>
        <ul class="list-unstyled">
            <li>La información es proporcionada por la API <span class="fw-bolder">Overfast API</span>.</li>
            <li>Las imágenes y contenido de <span class="fw-bolder">Overwatch</span> son propiedad de <span
                    class="fw-bolder">Blizzard Entertainment</span>.</li>
        </ul>

        <a href="/busqueda" class="btn btn-outline-warning fs-4 w-75 mb-3 fw-bolder">IR A BUSCAR HÉROES</a>
        <a href="/" class="btn btn-outline-warning fs-4 w-75 mb-5 fw-bolder">VOLVER A INICIO</a>
    </div>
</div>